In [3]:
import sqlite3

## Calling connect() method on a database file returns
## a connection object
conn = sqlite3.connect('example.db')

## Calling cursor() method returns a cursor object,
## which is used for various database operations
c = conn.cursor()

In [4]:
## SQL statement to create a table
sql = """
    create table students (
        student_id integer,
        first_name varchar(50),
        last_name varchar(50),
        date_of_birth date
    )
"""

## Run the SQL statement on the database
c.execute(sql)

In [6]:
## SQL statement to insert a row into the table
sql = "insert into students values(1, 'Aaron', 'Xiang', '1970-05-26')"

c.execute(sql)
conn.commit()

In [7]:
## SQL statement to get all rows from a table
sql = "select * from students"

for row in c.execute(sql):
    print(row)

(1, 'Henry', 'Xiang', '1970-05-26')
(1, 'Aaron', 'Xiang', '1970-05-26')